#chartTable {
	width: 100%;
	text-align: center;
}


#chartTable tr td {
	border: 1px solid #ccc;
	height: 400px;
}

#chartTable tr th {
	text-align: center;
}

.modal-label {
	float: left;
	height: 34px;
	line-height: 34px;
	margin-right: 10px;
}